* {
  box-sizing: border-box;
}

@mixin bp {
  @media only screen and (max-width: 100%) {
    @content;
  }
}

 
.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  p {
    position: absolute;
    bottom: -70px;
    left: 350px;
    font-size: 100px;
    font-family: serif;
    color: #ffffff;
    z-index: 200;
    
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      background-size: cover;
      width: 100%;
      height: 1100vh;
      position: absolute;
      top: 0;
      left: 0;
      animation-iteration-count: infinite;
      animation-duration: 40s;
      @for $value from 1 through 5 {
        &:nth-child(#{$value}) {
          @if $value % 2 == 0 {
            //偶数
            animation-name: slider-zoomout;
          }
          @else {
            //奇数
            animation-name: slider-zoomin;
          }
          @if $value != 1 {
            //最初以外は透過
            opacity: 0;
          }
          animation-delay: #{($value*8-11)}s; //-3からスタートして、8づつ加算する
        }
      }
      img {
        width: 100%;
      }
    }
  }
 
  @include bp {
    height: 100vh;
    ul {
      li {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
// 5~8秒の間だけ透過解除
@keyframes slider-zoomin {
  0% {
    opacity: 0;
    transform: scale(1.0);
  }
  12.5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
@keyframes slider-zoomout {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  12.5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.0);
  }
}

.about {
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  overflow: scroll;
  h1 {
    text-align: center;
    padding: 50px 50px 0 50px;
    font-size: 75px;
    border-bottom: double 4px #999;
    font-family: 'Vollkorn', serif;
  }
  p {
    margin: 40px 140px;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }
}

.works {
  height: 100vh;
  background-color: #383634;
  overflow: hidden;
  overflow: scroll;
  h1 {
    text-align: center;
    padding: 50px 50px 0 50px;
    font-size: 75px;
    color:#ffffff;
    border-bottom: double 4px #999;
    font-family: 'Vollkorn', serif;
  }
  .works-box {
    display: flex;
    list-style: none;
    position: relative;
    height: 50%;
    .chat-space {
      position: relative;
      left: 400px;
      width: 400px;
      height: 350px;
      img {
        position: absolute;
        width: 60%;
        height: 60%;
        object-fit: cover;
      }
    .chat-space__label {
      width: 55%;
      height: 40%;
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 40px;
      font-family: 'Vollkorn', serif;
    }
  }

    .mercari {
      position: relative;
      left: 400px;
      width: 400px;
      height: 350px;
      img {
        position: absolute;
        width: 60%;
        height: 60%;
        object-fit: cover;
      }
      .mercari__label {
        width: 55%;
        height: 40%;
        position: absolute;
        bottom: 0;
        left: 30px;
        font-size: 40px;
        font-family: 'Vollkorn', serif;
      }
      .password {
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 55%;
        height: 20%;
        color: #ffffff;
        font-family: 'Vollkorn', serif;
      }
    }
    a {
      color: #ffffff;
    }
  }
}

.contact {
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100vh;
  }
  .info-box {
    width: 80%;
    height: 90vh;
    background-color: #383634;
    opacity: 0.7;
    position: absolute;
    top: 50px;
    left: 140px;
  }
  .info-box__pic {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 15%;
    height: 38%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .skill {
    position: absolute;
    width: 50%;
    height: 38%;
    top: 80px;
    right: 200px;
    .can-do {
      width: 100%;
      height: 20%;
      font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      font-size: 30px;
      color: #ffffff;
       p {
         margin: 0 100px;
       }
    }
    .logos {
      width: 100%;
      height: 40%;
      display: flex;
      margin-top: 10px;
      img {
        width: 15%;
        height: 85%;
        margin: 0 20px;
      }
    }
    .logos-2 {
      width: 100%;
      height: 40%;
      display: flex;
      img {
        width: 15%;
        height: 85%;
        margin: 0 20px;
      }
    }
  }
  .profile {
    width: 77%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 170px;
    overflow: scroll;
     p {
       font-size: 30px;
       font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
       color: #ffffff;
     }
     .name {
       width: 100%;
       margin: 0 450px;
     }
     .from {
       font-size: 20px;
       margin: 0 78px;
     }
     .like {
      font-size: 20px;
      margin: 40px 78px;
     }
     .comment {
      font-size: 16px;
      margin: 0 78px;
     }
  }
}


@media screen and (min-width:0px)and(max-width:1200px){
  // (画面サイズが1200px以下のとき)
  .header {
    p {
      left: 300px;
      font-size: 80px;
    }
    ul {
      li {
        img {
          width: 100%;
          background-size: cover;
        }
      }
    }
  }

  .about {
    h1 {
      font-size: 55px;
    }
  }
  
  .works {
    h1 {
      font-size: 55px;
      color:#ffffff;
    }
    .works-box {
      .chat-space {
        left: 300px;
      .chat-space__label {
        left: 40px;
      }
    }
      .mercari {
        left: 300px;
        .mercari__label {
          left: 70px;
        }
      }
      a {
        font-size: 30px;
      }
    }
  }
  
  .contact {
    .info-box__pic {
      top: 100px;
      width: 18%;
      height: 40%;
      img {
        width: 70%;
        height: 80%;
      }
    }
    .skill {
      right: 120px;
      .logos {
        width: 55%;
        height: 30%;
        margin: 10px;
      }
      .logos-2 {
        width: 55%;
        height: 30%;
      }
    }
    .profile {
      width: 70%;
      height: 30%;
      top: 350px;
      left: 200px;
      .name {
        font-size: 30px;
        margin: 20px 350px;
      }
      .from {
        font-size: 15px;
        margin: 50px 80px 0 80px;
      }
      .like {
        font-size: 15px;
        margin: 20px 80px;
      }
      .comment {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width:0px)and(max-width:1000px){
  .header {
    p {
      left: 170px;
    }
  }
  .about {
    p {
      margin: 20px 110px;
    }
  }
  .works {
    .works-box {    
      .chat-space {
        left: 200px;
      }
      .mercari {
        left: 200px;
      }
    }
  }
  .contact {
    .profile {
      .name {
        margin: 20px 250px;
      }
    }
  }
}


@media screen and (min-width:0px)and(max-width:850px){
  .header {
    p {
      font-size: 60px;
      left: 150px;
      bottom: -50px;
    }
  }

  .about {
    h1 {
      font-size: 45px;
    }
    p {
      margin: 20px 110px;
      font-size: 15px;
    }
  }

  .works {
    h1 {
      font-size: 45px;
    }
    .works-box {    
      .chat-space {
        width: 200px;
        height: 250px;
        top: 50px;
        left: 100px;
        img {
          width: 100%;
          height: 55%;
        }
        .chat-space__label {
          width: 150px;
          height: 50px;
          left: 40px;
          bottom: 70px;
          a {
            font-size: 25px;
          }
        }
      }
      .mercari {
        width: 200px;
        height: 250px;
        top: 50px;
        img {
          width: 100%;
          height: 55%;
        }
        .mercari__label {
          height: 50px;
          left: 50px;
          bottom: 70px;
          a {
            font-size: 25px;
          }
        }
        .password {
          width: 180px;
          bottom: 0;
          left: 20px;
          font-size: 15px;
        }
      }
    }
  }

  .contact {
    .info-box {
      left: 80px;
    }
    .info-box__pic {
      left: 130px;
      img {
        height: 60%;
      }
    }
    .skill {
      .can-do {
        p {
          font-size: 25px;
          margin: 0 50px;
        }
      }
      .logos {
        width: 50%;
        height: 25%;
      }
      .logos-2 {
        width: 50%;
        height: 25%;
      }
    }
    .profile {
      left: 100px;
      .name {
        font-size: 25px;
        margin: 20px 200px;
      }
      .comment {
        font-size: 11px;
      }
    }
  }
}


@media screen and (min-width:0px)and(max-width:650px){
  .header {
    p {
      left: 80px;
      bottom: -40px;
      font-size: 45px;
    }
  }

  .works {
    .works-box {    
      .chat-space {
        width: 150px;
        .chat-space__label {
          left: 10px;
        }
      }
      .mercari {
        width: 150px;
        .mercari__label {
          left: 30px;
        }
        .password {
          font-size: 13px;
          left: 0;
        }
      }
    }
  }

  .contact {
    .info-box__pic {
      top: 150px;
      height: 35%;
    }
    .skill {
      top: 110px;
      right: 90px;
      .logos {
        margin-left: 50px;
        img {
          height: 60%;
        }
      }
      .logos-2 {
        margin-left: 50px;
        img {
          height: 60%;
        }
      }
    }
    .profile {
      .name {
        margin: 20px 150px;
      }
      .like {
        margin: 20px 0 20px 80px;
      }
      .comment {
        margin: 20px 0 20px 80px;
      }
    }
  }

}



@media screen and (min-width:0px)and(max-width:500px){
  .header {
    height: 60vh;
    p {
      width: 300px;
      height: 40px;
      font-size: 35px;
      top: 300px;
      left: 50px;
    }
    ul {
      li {
        height: 0;
      }
    }
  }

  .about {
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 13px;
      margin: 20px 10px;
    }
    .text {
      margin-top: 60px;
    }
  }

  .works {
    h1 {
      font-size: 35px;
    }
    .works-box {
      .chat-space {
        left: 110px;
      }
      .mercari {
        top: 350px;
        left: -40px;
      }
    }
  }

  .contact {
    .info-box {
      left: 40px;
    }
    .info-box__pic {
      top: 350px;
      left: 160px;
      width: 18%;
      height: 15%;
    }
    .skill {
      .can-do {
        position: absolute;
        top: -20px;
        left: 20px;
        p {
          margin: 0 auto;
        }
      }
      .logos {
        position: absolute;
        top: 20px;
        right: -20px;
        width: 90%;
        height: 20%;
      }
      .logos-2 {
        position: absolute;
        top: 80px;
        left: -60px;
        width: 90%;
        height: 20%;
      }
    }
    .profile {
      width: 400px;
      height: 800px;
      position: relative;
      top: -550px;
      left: 40px;
      .name {
        position: absolute;
        left: -30px;
        margin: 20px 80px;
      }
      .from {
        position: absolute;
        top: 180px;
        font-size: 15px;
        margin:20px;
      }
      .like {
        position: absolute;
        top: 250px;
        font-size: 13px;
        margin: 20px 120px 0 20px;
      }
      .comment {
        position: absolute;
        top: 350px;
        font-size: 10px;
        margin: 20px 120px 0 30px;
      }
    }
  }

}