@mixin bp {
  @media only screen and (max-width: 100%) {
    @content;
  }
}

 

.header {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  p {
    position: absolute;
    bottom: -70px;
    left: 350px;
    font-size: 100px;
    font-family: serif;
    color: #ffffff;
    z-index: 200;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      background-size: cover;
      width: 100%;
      height: 1100vh;
      position: absolute;
      top: 0;
      left: 0;
      animation-iteration-count: infinite;
      animation-duration: 40s;
      @for $value from 1 through 5 {
        &:nth-child(#{$value}) {
          @if $value % 2 == 0 {
            //偶数
            animation-name: slider-zoomout;
          }
          @else {
            //奇数
            animation-name: slider-zoomin;
          }
          @if $value != 1 {
            //最初以外は透過
            opacity: 0;
          }
          animation-delay: #{($value*8-11)}s; //-3からスタートして、8づつ加算する
        }
      }
      img {
        width: 100%;
      }
    }
  }
 
  @include bp {
    height: 100vh;
    ul {
      li {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
// 5~8秒の間だけ透過解除
@keyframes slider-zoomin {
  0% {
    opacity: 0;
    transform: scale(1.0);
  }
  12.5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
@keyframes slider-zoomout {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  12.5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.0);
  }
}


.about {
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  h1 {
    margin: 0 500px 50px;
    padding: 50px 50px 0 50px;
    font-size: 75px;
    border-bottom: double 4px #999;
    font-family: 'Vollkorn', serif;
  }
  p {
    margin: 40px 140px;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }
}


.works {
  height: 100vh;
  background-color: #383634;
  overflow: hidden;
  h1 {
    margin: 0 440px 50px;
    padding: 50px 50px 0 50px;
    font-size: 75px;
    color:#ffffff;
    border-bottom: double 4px #999;
    font-family: 'Vollkorn', serif;
  }
  .works-box {
    display: flex;
    list-style: none;
    position: relative;
    height: 50%;
    .chat-space {
      position: relative;
      left: 400px;
      width: 400px;
      height: 350px;
      img {
        position: absolute;
        width: 60%;
        height: 60%;
      }
    .chat-space__label {
      width: 55%;
      height: 40%;
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 40px;
      font-family: 'Vollkorn', serif;
    }
  }

    .mercari {
      position: relative;
      left: 400px;
      width: 400px;
      height: 350px;
      img {
        position: absolute;
        width: 60%;
        height: 60%;
      }
      .mercari__label {
        width: 55%;
        height: 40%;
        position: absolute;
        bottom: 0;
        left: 30px;
        font-size: 40px;
        font-family: 'Vollkorn', serif;
      }
      .password {
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 55%;
        height: 20%;
        color: #ffffff;
        font-family: 'Vollkorn', serif;
      }
    }
    a {
      color: #ffffff;
    }
  }
}


.contact {
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100vh;
  }
  .info-box {
    width: 80%;
    height: 90vh;
    background-color: #383634;
    opacity: 0.7;
    position: absolute;
    top: 50px;
    left: 140px;
  }
  .info-box__pic {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 15%;
    height: 38%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .skill {
    position: absolute;
    width: 50%;
    height: 38%;
    top: 80px;
    right: 200px;
    .can-do {
      width: 100%;
      height: 20%;
      font-family: 'Vollkorn', serif;
      font-size: 30px;
      color: #ffffff;
       p {
         margin: 0 100px;
       }
    }
    .logos {
      width: 100%;
      height: 40%;
      display: flex;
      img {
        width: 20%;
        height: 85%;
        margin: 0 20px;
      }
    }
    .logos-2 {
      width: 100%;
      height: 40%;
      display: flex;
      img {
        width: 20%;
        height: 85%;
        margin: 0 20px;
      }
    }
  }
  .profile {
    width: 77%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 170px;
     p {
       font-size: 30px;
       font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
       color: #ffffff;
     }
     .name {
       width: 100%;
       margin: 0 450px;
     }
     .from {
       font-size: 20px;
       margin: 0 78px;
     }
     .like {
      font-size: 20px;
      margin: 40px 78px;
     }
     .comment {
      font-size: 16px;
      margin: 0 78px;
     }
  }
}


@media screen and (min-width:0px)and(max-width:980px){
  // スマホ版のcss(画面サイズが980px以下のとき)
  .header {
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    p {
      position: absolute;
      bottom: -70px;
      left: 100px;
      font-size: 100px;
      font-family: serif;
      color: #ffffff;
      z-index: 200;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        background-size: cover;
        width: 200%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        animation-iteration-count: infinite;
        animation-duration: 40s;
        @for $value from 1 through 5 {
          &:nth-child(#{$value}) {
            @if $value % 2 == 0 {
              //偶数
              animation-name: slider-zoomout;
            }
            @else {
              //奇数
              animation-name: slider-zoomin;
            }
            @if $value != 1 {
              //最初以外は透過
              opacity: 0;
            }
            animation-delay: #{($value*8-11)}s; //-3からスタートして、8づつ加算する
          }
        }
        img {
          width: 100%;
        }
      }
    }
   
    @include bp {
      height: 100vh;
      ul {
        li {
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
  // 5~8秒の間だけ透過解除
  @keyframes slider-zoomin {
    0% {
      opacity: 0;
      transform: scale(1.0);
    }
    12.5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    27.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(1.3);
    }
  }
  @keyframes slider-zoomout {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    12.5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    27.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(1.0);
    }
  }
  
  
  .about {
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    h1 {
      margin: 0 280px 50px;
      padding: 50px 50px 0 50px;
      font-size: 75px;
      border-bottom: double 4px #999;
      font-family: 'Vollkorn', serif;
    }
    p {
      margin: 40px 140px;
      font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    }
  }
  
  
  .works {
    height: 100vh;
    background-color: #383634;
    overflow: hidden;
    h1 {
      margin: 0 210px 50px;
      padding: 50px 50px 0 50px;
      font-size: 75px;
      color:#ffffff;
      border-bottom: double 4px #999;
      font-family: 'Vollkorn', serif;
    }
    .works-box {
      display: flex;
      list-style: none;
      position: relative;
      height: 50%;
      .chat-space {
        position: relative;
        left: 150px;
        width: 400px;
        height: 350px;
        img {
          position: absolute;
          width: 60%;
          height: 60%;
        }
      .chat-space__label {
        width: 55%;
        height: 40%;
        position: absolute;
        bottom: 0;
        left: 10px;
        font-size: 40px;
        font-family: 'Vollkorn', serif;
      }
    }
  
      .mercari {
        position: relative;
        left: 180px;
        width: 400px;
        height: 350px;
        img {
          position: absolute;
          width: 60%;
          height: 60%;
        }
        .mercari__label {
          width: 55%;
          height: 40%;
          position: absolute;
          bottom: 0;
          left: 30px;
          font-size: 40px;
          font-family: 'Vollkorn', serif;
        }
        .password {
          position: absolute;
          bottom: 0;
          left: 30px;
          width: 55%;
          height: 20%;
          color: #ffffff;
          font-family: 'Vollkorn', serif;
        }
      }
      a {
        color: #ffffff;
      }
    }
  }
  
  
  .contact {
    height: 100vh;
    background-color: rgba(25, 25, 120, 0.9);
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100vh;
    }
    .info-box {
      width: 80%;
      height: 90vh;
      background-color: #383634;
      opacity: 0.7;
      position: absolute;
      top: 50px;
      left: 100px;
    }
    .info-box__pic {
      position: absolute;
      top: 130px;
      left: 150px;
      width: 18%;
      height: 25%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .skill {
      position: absolute;
      width: 50%;
      height: 38%;
      top: 80px;
      right: 120px;
      .can-do {
        width: 100%;
        height: 20%;
        font-family: 'Vollkorn', serif;
        font-size: 30px;
        color: #ffffff;
         p {
           margin: 0 50px;
         }
      }
      .logos {
        width: 90%;
        height: 30%;
        display: flex;
        img {
          width: 20%;
          height: 85%;
          margin: 0 20px;
        }
      }
      .logos-2 {
        width: 90%;
        height: 30%;
        display: flex;
        img {
          width: 20%;
          height: 85%;
          margin: 0 20px;
        }
      }
    }
    .profile {
      width: 77%;
      height: 40%;
      position: absolute;
      bottom: 0;
      right: 100px;
       p {
         font-size: 30px;
         font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
         color: #ffffff;
       }
       .name {
          width: 100%;
          position: absolute;
          top: -150px;
          left: -190px;
       }
       .from {
          font-size: 20px;
          margin: 0 100px;
       }
       .like {
          font-size: 20px;
          margin: 40px 100px;
       }
       .comment {
        font-size: 16px;
        margin: 0 100px;
       }
    }
  }


  }