* {
  box-sizing: border-box;
}

@mixin bp {
  @media only screen and (max-width: 100%) {
    @content;
  }
}

 
.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  p {
    position: absolute;
    bottom: -70px;
    left: 350px;
    font-size: 100px;
    font-family: serif;
    color: #ffffff;
    z-index: 200;
    
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      background-size: cover;
      width: 100%;
      height: 1100vh;
      position: absolute;
      top: 0;
      left: 0;
      animation-iteration-count: infinite;
      animation-duration: 40s;
      @for $value from 1 through 5 {
        &:nth-child(#{$value}) {
          @if $value % 2 == 0 {
            //偶数
            animation-name: slider-zoomout;
          }
          @else {
            //奇数
            animation-name: slider-zoomin;
          }
          @if $value != 1 {
            //最初以外は透過
            opacity: 0;
          }
          animation-delay: #{($value*8-11)}s; //-3からスタートして、8づつ加算する
        }
      }
      img {
        width: 100%;
      }
    }
  }
 
  @include bp {
    height: 100vh;
    ul {
      li {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
// 5~8秒の間だけ透過解除
@keyframes slider-zoomin {
  0% {
    opacity: 0;
    transform: scale(1.0);
  }
  12.5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
@keyframes slider-zoomout {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  12.5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  27.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.0);
  }
}

.about {
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  overflow: scroll;
  h1 {
    text-align: center;
    padding: 50px 50px 0 50px;
    font-size: 75px;
    border-bottom: double 4px #999;
    font-family: 'Vollkorn', serif;
  }
  p {
    margin: 40px 140px;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }
}

.works {
  height: 100vh;
  background-color: #383634;
  overflow: hidden;
  overflow: scroll;
  h1 {
    text-align: center;
    padding: 50px 50px 0 50px;
    font-size: 75px;
    color:#ffffff;
    border-bottom: double 4px #999;
    font-family: 'Vollkorn', serif;
  }
  .works-box {
    display: flex;
    list-style: none;
    position: relative;
    height: 50%;
    .chat-space {
      position: relative;
      left: 400px;
      width: 400px;
      height: 350px;
      img {
        position: absolute;
        width: 60%;
        height: 60%;
        object-fit: cover;
      }
    .chat-space__label {
      width: 55%;
      height: 40%;
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 40px;
      font-family: 'Vollkorn', serif;
    }
  }

    .mercari {
      position: relative;
      left: 400px;
      width: 400px;
      height: 350px;
      img {
        position: absolute;
        width: 60%;
        height: 60%;
        object-fit: cover;
      }
      .mercari__label {
        width: 55%;
        height: 40%;
        position: absolute;
        bottom: 0;
        left: 30px;
        font-size: 40px;
        font-family: 'Vollkorn', serif;
      }
      .password {
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 55%;
        height: 20%;
        color: #ffffff;
        font-family: 'Vollkorn', serif;
      }
    }
    a {
      color: #ffffff;
    }
  }
}

.contact {
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100vh;
  }
  .info-box {
    width: 80%;
    height: 90vh;
    background-color: #383634;
    opacity: 0.7;
    position: absolute;
    top: 50px;
    left: 140px;
  }
  .info-box__pic {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 15%;
    height: 38%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .skill {
    position: absolute;
    width: 50%;
    height: 38%;
    top: 80px;
    right: 200px;
    .can-do {
      width: 100%;
      height: 20%;
      font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      font-size: 30px;
      color: #ffffff;
       p {
         margin: 0 100px;
       }
    }
    .logos {
      width: 100%;
      height: 40%;
      display: flex;
      margin-top: 10px;
      img {
        width: 15%;
        height: 85%;
        margin: 0 20px;
      }
    }
    .logos-2 {
      width: 100%;
      height: 40%;
      display: flex;
      img {
        width: 15%;
        height: 85%;
        margin: 0 20px;
      }
    }
  }
  .profile {
    width: 77%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 170px;
    overflow: scroll;
     p {
       font-size: 30px;
       font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
       color: #ffffff;
     }
     .name {
       width: 100%;
       margin: 0 450px;
     }
     .from {
       font-size: 20px;
       margin: 0 78px;
     }
     .like {
      font-size: 20px;
      margin: 40px 78px;
     }
     .comment {
      font-size: 16px;
      margin: 0 78px;
     }
  }
}




@media screen and (max-height:1400px)and(max-width:1030px){
    // iPad Pro
  .header {
    height: 50vh;
    p {
      top: 400px;
      left: 150px;
    }
    ul {
      li {
        height: 500vh;
      }
    }
  }

  .about {
    h1 {
      padding-top: 100px;
    }
    p { 
      font-size: 25px;
    }
    .text {
      margin-top: 100px;
      height: 500px;
    }
  }

  .works {
    padding-top: 100px;
    .works-box {
      .chat-space {
        top: 150px;
        left: 200px;
      }
      .mercari {
        top: 150px;
        left: 200px;
      }
    }
  }
  .contact {
    .info-box {
      left: 100px;
    }
    .info-box__pic {
      top: 150px;
      height: 15%;
    }
    .can-do {
      height: 20%;
    }
    .skill {
      .can-do {
        height: 10%;
      }
      .logos {
        width: 60%;
        height: 15%;
        margin: 40px 0 0 120px;
      }
      .logos-2 {
        width: 60%;
        height: 15%;
        margin: 40px 0 0 90px;
      }
    }
    .profile {
      height: 400px;
      top: 400px;
      right:100px;
      .name {
        position: absolute;
        top: 10px;
        left: -180px;
      }
      .from {
        position: absolute;
        top: 50px;
        margin: 20px 30px;
      }
      .like {
        position: absolute;
        top: 100px;
        margin: 20px 30px;
      }
      .comment {
        position: absolute;
        top: 200px;
        margin: 20px 30px;
      }
    }
  }

}



@media screen and (max-height:1030px)and(max-width:770px){
  // iPad
  .header {
    p {
      font-size: 60px;
      top: 350px;
    }
  }

  .about {
    h1 {
      font-size: 55px;
    }
    p {
      font-size: 20px;
    }
  }

  .works {
    h1 {
      font-size: 55px;
    }
    .works-box {
      .chat-space {
        left: 100px;
      }
      .mercari {
        left: 50px;
      }
    }
  }

  .contact {
    .info-box {
      left: 70px;
    }
    .info-box__pic {
      height: 20%; 
      left: 150px;
    }
    .skill {
      .can-do {
        margin: 0 80px 0 10px;
      }
      .logos {
        width: 60%;
        height: 20%;
        margin: 40px 0 0 150px;
      }
      .logos-2 {
        width: 60%;
        height: 20%;
        margin: 40px 0 0 120px;
      }
    }
    .profile {
      .name {
        margin: 0 0 0 350px;
      }
    }
  }

}



@media screen and (max-height:830px)and(max-width:500px){
  .header {
    p {
      width: 300px;
      height: 40px;
      font-size: 35px;
      top: 300px;
      left: 50px;
    }
    ul {
      li {
        height: 0;
      }
    }
  }

  .about {
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 13px;
      margin: 20px 30px;
    }
    .text {
      margin-top: 60px;
    }
  }

  .works {
    h1 {
      font-size: 35px;
    }
    .works-box {
      height: 80%;
      .chat-space {
        width: 200px;
        height: 220px;
        top: 40px;
        left: 100px;
        img {
          width: 100%;
          height: 70%;
        }
        .chat-space__label{
          top: 160px;
          left: 40px;
          width: 100%;
          font-size: 25px;
        }
      }
      .mercari {
        width: 200px;
        height: 220px;
        top: 300px;
        left: -100px;
        img {
          width: 100%;
          height: 70%;
        }
        .mercari__label {
          left: 50px;
          bottom: -30px;
          font-size: 25px;
        }
        .password {
          width: 100%;
          bottom: -30px;
        }
      }
    }
  }

  .contact {
    .info-box {
      left: 40px;
    }
    .info-box__pic {
      top: 360px;
      left: 170px;
      width: 18%;
      height: 15%;
    }
    .skill {
      .can-do {
        width: 500px;
        position: absolute;
        top: -20px;
      }
      .logos {
        position: absolute;
        right: -100px;
        width: 90%;
        height: 20%;
      }
      .logos-2 {
        position: absolute;
        top: 80px;
        left: -30px;
        width: 90%;
        height: 20%;
      }
    }
    .profile {
      width: 400px;
      height: 800px;
      position: relative;
      top: -550px;
      left: 40px;
      .name {
        position: absolute;
        top: 10px;
        left: -30px;
        margin: 20px 80px;
      }
      .from {
        position: absolute;
        top: 230px;
        font-size: 15px;
        margin:20px;
      }
      .like {
        position: absolute;
        top: 280px;
        font-size: 13px;
        margin: 20px 120px 0 20px;
      }
      .comment {
        position: absolute;
        top: 380px;
        font-size: 10px;
        margin: 20px 80px 0 20px;
      }
    }
  }

}



@media screen and (max-height:820px)and(max-width:420px){
  .contact {
    .profile {
      .name {
        left: -50px;
      }
      .comment {
        margin: 20px 120px 0 20px;
      }
    }
  }

}



@media screen and (max-height:740px)and(max-width:415px){
  .header {
    p {
      top: 280px;
      left: 70px;
    }
  }

  .contact {
    .info-box__pic {
      height: 13%;
      top: 320px;
    }
    .profile {
      .name {
        top: 60px;
      }
    } 
  }


}



@media screen and (max-height:670px)and(max-width:380px){
  .header {
    p {
      top: 250px;
      left: 50px;
    }
  }

  .works {
    .works-box {
      .chat-space {
        left: 85px;
      }
    }
  }

  .contact {
    .info-box__pic {
      height: 13%;
      top: 270px;
      left: 150px;
    }
    .skill {
      .logos {
        margin: 30px 0;
      }
      .logos-2 {
        margin: 0 130px;
      }
    }
    .profile {
      .name {
        top: 80px;
      }
    } 
  }

}

@media screen and (max-height:640px)and(max-width:360px){
  .contact {
    .info-box__pic {
      top: 250px;
    }
    .profile {
      .name {
        top: 100px;
      }
    }
  }

}



@media screen and (max-height:570px)and(max-width:320px){
  .header {
    p{
      font-size: 30px;
      top: 200px;
    }
  }

  .works {
    .works-box {
      .chat-space {
        .chat-space__label {
          left: 20px
        }
      }
      .mercari {
        left: -75px;
        .mercari__label {
          left: 30px;
        }
        .password {
          width: 200px;
          left: 0;
        }
      }
    }
  }

  .contact {
    .info-box__pic {
      height: 10%;
      top: 210px;
      left: 130px;
    }
    .skill {
      .can-do {
        left: 30px;
        p {
          font-size: 25px;
        }
      }
      .logos {
        height: 13%;
        margin-top: 20px;
        left: 140px;
      }
      .logos-2 {
        height: 13%;
        left: -20px;
        top: 50px;
      }
    }
    .profile {
      .name {
        top: 130px;
        font-size: 25px;
      }
      .from {
        margin-top: 30px;
        font-size: 13px;
      }
      .like {
        font-size: 11px;
        margin: 20px 150px 0 20px;
      }
      .comment {
        margin: 20px 150px 0 20px;
      }
    }
  }

}